$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  text-decoration: none;
}

html,
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
}

a {
  color: $primary-color;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

.text-dark {
  color: $dark-color;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.mx {
  margin: 0 0.5rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  /* margin-right: 0.5rem; */
  transition: opacity 0.2s ease-in;
  outline: none;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form-group {
  margin-bottom: 15px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control {
  display: block;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;
  ul {
    display: flex;
  }
  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
  .welcome span {
    margin-right: 0.6rem;
  }
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-dark {
  background: $dark-color;
  color: #fff;
}

// TodoText
.inline-text_copy--active,
.inline-text_input--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed #666666;
  cursor: pointer;
}
.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}

@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }
}

//Modal
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
// .modal-wrapper {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1050;
//   width: 100%;
//   height: 100%;
//   overflow-x: hidden;
//   overflow-y: auto;
//   outline: 0;
// }

.modal {
  z-index: 1050;
  background: #313235;
  color: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 8px;
  max-width: 500px;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6), 0 4px 8px 3px rgba(0, 0, 0, 0.302);
  border-color: #e8eaed;
}

.modal-header {
  text-align: center;
}

.modal-content {
  margin-top: 1rem;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
  button {
    padding: 8px 24px;
    background: inherit;
    color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: rgba(154, 160, 166, 0.161);
    }
  }
}
.save-btn {
  color: #8ab4f8 !important;
}

// .modal-close-button {
//   font-size: 1.4rem;
//   font-weight: 700;
//   line-height: 1;
//   color: #000;
//   opacity: 0.3;
//   cursor: pointer;
//   border: none;
// }
